.Introduction {
    height: 90vh;
    padding: 1.5rem;

    background-image: url('../../assets/AboutClubPhone.webp');
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: hue;

    clip-path: polygon(0% 0%, 0% 90%, 50% 100%,100% 90%, 100% 0%);

    @media screen and (min-width:768px) {
        background-image: url('../../assets/AboutClub.webp');
    }
}

.IntroContent {
    width: 50%;
    color: white;
    text-align: justify;
}