.SignUpIntro {
    height: 90vh;
    padding: 1.5rem;
    
    background-image: url('../../assets/SignUpBgPhone.jpg');  
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: hue;
    background-size: cover;
    background-position: center;

    clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);

    @media screen and (min-width: 768px) {
        background-image: url('../../assets/SignUpBg.jpg');
    }

    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpIntro h2 {
    color: white;
}