.CheckBox {
    margin-bottom: 2rem;
    color: white;
    font-size: 0.8rem;
    text-align: justify;
}

.error {
    font-size: 0.8rem;
    color: #FF2400;
}

input[type=checkbox] {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.2rem 0 0;
}